@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --color-main-lightest: #E2E8F0; 
  --color-main-lighten: #CBD5E1;
  --color-main-light: #94A3B8;
  --color-main: #64748B;
  --color-main-dark: #475569;
  --color-main-darken: #334155;
  --color-main-darkest: #1E293B;

  --bgc-lightest: #fff;
  --bgc: #e4e4e4;

  --btn-bgc-main: #CBD5E1;
  --btn-bgc-main-dark: #b9c5d4;
  --btn-bgc-main-darken: #94A3B8;

  --btn-color-main: #475569;

  --color-ancient: #e64242;
  --color-arcana: #b2e05d;
  --color-immortal: #e6b242;
  --color-legendary: #e642cb;
  --color-mythical: #8942e6;
  --color-rare: #4542e6;
  --color-uncommon: #6592e4;
  --color-common: #a4b9e2;

  --color-disabled: #7a7a7a;
  --bgc-disabled: #c8c8c8;

  --color-black: #000;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page {
  font-family: 'Roboto';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0.9;
  z-index: 1;
}

.list-reset {
  list-style-type: none;
}

.button-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ancient {
  color: var(--color-ancient);
}

.arcana {
  color: var(--color-arcana)
}

.immortal {
  color: var(--color-immortal)
}

.legendary {
  color: var(--color-legendary)
}

.mythical {
  color: var(--color-mythical)
}

.rare {
  color: var(--color-rare)
}

.uncommon {
  color: var(--color-uncommon);
}

.common {
  color: var(--color-common);
}

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  height: 40px;
  width: 220px;
  background-image: url('../img/common/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__link {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-main-dark);
  transition: color .3s ease;
}

.header__link:hover {
  color: var(--color-main-light);
}

/* Chests */
.chests__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chests__heading {
  font-size: 30px;
  color: var(--color-main);
}

.chests__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.chest {
  flex: 0 1 calc(100% / 4 - 50px * 3 / 4);
  position: relative;
  transition: box-shadow .6s ease;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.chest:hover {
  box-shadow: 0px 0px 30px 10px;
}

.chest:hover .chest__bottom {
  transform: translateY(-100%);
}

.chest:hover .chest__img {
  transform: scale(1.3);
  filter: brightness(20%);
}

.chest__img {
  display: block;
  max-width: 100%;
  object-position: center bottom;
  border-radius: 10px;
  transition: transform .6s ease, filter .6s ease;
}

.chest__bottom {
  position: absolute;
  transform: translateY(0);
  padding: 10px;
  transition: transform .6s ease;
}

.chest__description {
  color: var(--color-main-lightest)
}

/* Roulette */
.roulette {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.roulette__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--bgc);
  border-radius: 10px;
}

.roulette__window {
  position: relative;
  background-color: var(--bgc-lightest);
  border-radius: 10px;
  overflow: hidden;
}

.roulette__arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--color-main-dark);
}

.roulette__bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.roulette__heading {
  text-align: center;
  font-size: 32px;
  color: var(--color-main);
}

.roulette__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.roulette__button {
  align-self: center;
  padding: 6px 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--btn-color-main);
  background-color: var(--btn-bgc-main);
  border-radius: 5px;
  transition: background-color .3s ease;
}

.roulette__button:hover {
  background-color: var(--btn-bgc-main-dark);
}

.stone {
  flex: 0 1 calc(100% / 7 - 30px * 6 / 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stone__img {
  max-width: 100%;
  max-height: 100%;
  border-top: 2px;
  border-right: 2px;
  border-bottom: 20px;
  border-left: 2px;
  border-style: solid;
  background-color: var(--bgc-lightest);
}

/* Stones List */
.stones__list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.stones__item {
  flex: 1 0 160px;
  border-top: 2px;
  border-right: 2px;
  border-bottom: 20px;
  border-left: 2px;
  border-style: solid;
}

.stones__img {
  max-width: 100%;
}

.roulette__close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-main-lightest);
  line-height: 1;
  transition: color .3s ease;
  z-index: 1000;
}

.roulette__close:hover {
  color: var(--color-main-dark);
}

/* Prize */
.prize__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 10px;
  background-color: var(--bgc);
  border-radius: 10px;
  z-index: 20;
}

.prize__top {
  text-align: center;
}

.prize__img {
  max-width: 80%;
}

.prize__name {
  font-size: 24px;
  font-weight: 600;
}

.prize__button {
  position: absolute;
  bottom: -50px;
  padding: 6px 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--btn-color-main);
  background-color: var(--btn-bgc-main);
  border-radius: 5px;
  transition: background-color .2s ease;
  z-index: 21;
}

.prize__button:hover {
  background-color: var(--btn-bgc-main-dark);
}


.prize__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.9;
  z-index: 10;
}

/* Other */
.display-none {
  display: none;
}

.disabled {
  color: var(--color-disabled);
  background-color: var(--bgc-disabled);
  pointer-events: none;
}

.disabled:hover {
  background-color: #c8c8c8;
  cursor: not-allowed;
}